.testimonial_component {
  padding-top: 20px;
}

.heading {
  font-size: 3.6em;
  line-height: 60px;
  margin-bottom: 80px;
}

.right {
  margin-left: 26%;
  padding-bottom: 100px;
}

.slide {
  display: flex;
  /* flex-direction: column; */
}

.contents {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  margin-bottom: 8px;
}

.main_image {
  width: 100%;
}

.name_area {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.top {
  color: #777;
  font-size: 1.2em;
}

.position {
  color: #777;
}

.details {
  font-size: 1.8em;
  width: 85%;
  line-height: 1.3;
  margin-top: 50px;
}

.contents {
  margin-left: 70px;
}

.main_image {
  object-fit: cover;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.button_container {
  display: flex;
}

.button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.button img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 20px;
}

.main_image {
  /* margin-right: 20px; */
}

.detals_section {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 10%;
}

.percentange {
  font-size: 4.8em;
  font-weight: 600;
}

.client {
  color: #777;
}

.satisfied {
}

.detals {
  margin-left: 20px;
}

.box_area {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.box {
  display: flex;
  border: 1px solid #1a1a1a;
  width: 19.5%;
  align-items: center;
  justify-content: center;
  margin: 0 0.5% 0 0.5%;
  height: 230px;
}

.logo {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* MOBILE */

@media screen and (max-width: 430px) {
  .testimonial_component {
    padding: 30px 15px 0 15px;
    margin-top: 0;
  }

  .right {
    margin-left: 0%;
  }

  .heading {
    font-size: 2em;
    line-height: 35px;
  }

  .slide {
    flex-direction: column;
  }

  .main_image {
    width: 60%;
  }

  .contents {
    margin-left: 0;
    margin-top: 50px;
  }

  .details {
    width: 100%;
  }

  .name_container {
    margin-top: 40px;
  }

  .detals_section {
    align-items: normal;
    margin-left: 0;
    flex-direction: column;
  }

  .detals {
    margin-left: 0;
    margin-top: 20px;
  }

  .box {
    width: 31%;
    height: 120px;
    margin: 1% 1%;
  }

  .box_area {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .box img {
    width: 70%;
    height: auto;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
