.about_component {
  margin-top: 68%;
}

.start {
  margin-top: 0px;
  padding-bottom: 15%;
  display: flex;
}

.left {
  margin-right: 12%;
}

.left img {
  width: 420px;
}

/* .right {
} */

.heading {
  font-size: 3.6em;
  line-height: 60px;
}

.exp {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.status {
  margin-top: 80px;
}

.years {
  font-weight: 500;
  font-size: 4.8em;
  margin-bottom: 70px;
}

/* .title {
} */

.detail {
  color: #777;
}

/* .completed {
}

.status {
} */

/* MOBILE */

@media screen and (max-width: 430px) {
  .about_component {
    padding: 30px 15px 0 15px;
    margin-top: 0;
  }

  .heading {
    margin-top: 40px;
    font-size: 2em;
    line-height: 30px;
  }

  .start {
    flex-direction: column;
  }

  .left {
    margin-right: 0;
  }

  .exp {
    flex-direction: column;
  }

  .years{
    margin-bottom: 40px;
  }

  .status{
    margin-top: 40px;
  }
}
