.awards_component {
  width: 100vw;
  height: 100vh;
  margin: 0 -30px 0 -30px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.awards {
  position: absolute;
}

.top_bar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 45px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.bottom_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 45px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.bottom_texts {
  font-size: 17px;
  flex: 1;
}

.bottom_texts:first-child {
  text-align: left;
}

.bottom_texts:nth-child(2) {
  text-align: center;
}

.bottom_texts:last-child {
  text-align: right;
}

.bottom_title {
  position: absolute;
  bottom: 140px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.title {
  font-size: 8em;
  line-height: 0;
}

.awards,
.images {
  width: 100%;
  height: 100%;
}

.images img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .images img {
    object-position: 70% 50%;
  }
}

@media (max-width: 767px) {
  .images img {
    object-position: 80% 50%;
  }
}
