.project_component {
  margin-bottom: 20%;
}

.gallary {
  display: flex;
  justify-content: space-between;
}

.year {
  width: 23%;
  font-size: 4em;
  margin-top: 120px;
}

.images {
  width: 56%;
}

.explore {
  text-align: right;
  width: 23%;
  margin-top: 160px;
}

.image {
  margin-bottom: 25px;
  /* justify-content: center;
  display: flex; */
}

.img {
  width: 100%;
}

.text {
  text-align: right;
}

.button {
}

.project_detail {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* MOBILE */

@media screen and (max-width: 430px) {
  .project_component {
    padding: 0 20px 0 20px;
  }

  .year {
    display: none;
  }

  .gallary {
    display: inline;
  }

  .images {
    width: 100%;
  }

  .explore {
    text-align: center;
    width: 100%;
    margin-top: 100px;
  }
}

/* TAB */

@media (min-width: 768px) and (max-width: 1024px) {
  .year {
    display: none;
  }

  .gallary {
    display: inline;
  }

  .images {
    width: 100%;
  }

  .explore{
    width: 100%;
    text-align: center;
  }
}
